@media (max-width: 593px) {
  .main_card_flex {
    display: flex;
    width: 100%;
    flex-direction: row;
  }
  .first_card,
  .third_card {
    bottom: 0;
  }
}

@media (min-width: 577px) and (max-width: 720px) {
  .headingContent {
    width: 75% !important;
    padding-top: 45px !important;
    line-height: 3rem;
  }
  .headingPara {
    width: 50%;
  }
  .container-img {
    left: 25%;
    top: 100px;
    width: 50%;
  }
  .first_div {
    width: 65%;
    margin: 140px auto;
    text-align: center;
  }
  .brand-line {
    position: relative;
    bottom: 80px;
  }
  .brand-common {
    font-size: 1rem;
    color: white;
    padding: 8px 0;
  }

  .brand-names {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 70px;
  }
  .profile {
    margin: 30px 0;
  }

  .profile-heading {
    padding-top: 35px;
  }
  .profile-member {
    width: 100%;
    left: 0px;
  }
  .gallery {
    top: 15px;
  }
  .slider {
    top: 50px;
  }
  .slider-reverse-position {
    top: 140px;
  }
  .side-bar {
    width: 100vw;
    position: relative;
    top: 180px;
  }
  .mainPara {
    width: 75%;
  }
  .profile-bg {
    top: 50px;
  }
  .user-img {
    bottom: 80px;
    position: relative;
  }
  .user-text {
    bottom: 65px;
    padding: 0;
  }
  .after-heading {
    margin: 70px 0;
  }
  .btns {
    position: relative;
    bottom: 50px;
  }
  .footer-img {
    width: 110px;
    height: 50px;
  }
  .footer-text {
    margin-top: 15px;
    font-size: 14px;
  }
  .footer-mail {
    font-size: 1.2rem;
  }
  .footer-address {
    font-size: 1.1rem;
    bottom: 350px;
  }
  .footer-contact {
    font-size: 1.1rem;
  }
  .footer {
    height: 550px;
  }
  .footer-material {
    left: 0%;
    top: 10px;
  }
}

@media (min-width: 721px) and (max-width: 989px) {
  .headingContent {
    width: 75% !important;
    padding-top: 45px !important;
    line-height: 3rem;
  }
  .headingPara {
    width: 60%;
  }
  .container-img {
    left: 15%;
    top: 100px;
    width: 70%;
  }
  .first_div {
    width: 65%;
    margin: 140px auto;
    text-align: center;
  }
  .mainPara {
    width: 85%;
    text-align: center !important;
  }
  .brand-common {
    font-size: 1rem;
    color: white;
    padding: 8px 0;
  }
  .brand-names {
    position: relative;
    bottom: 50px;
  }
  .brand-line {
    position: relative;
    bottom: 60px;
  }
  .profile {
    width: 30%;
    margin: 125px 0;
    padding: 0px 20px;
  }
  .profile-member {
    width: 100%;
    left: 10px;
  }
  .profile-member-position {
    left: 10px;
  }
  .gallery {
    top: 200px;
  }
  .slider {
    top: 240px;
  }
  .slider-reverse-position {
    top: 300px;
  }
  .headingContent {
    padding-top: 10rem;
    line-height: 4.1rem;
  }
  .user-img {
    margin-top: 55px;
  }
  .after-heading {
    margin: 85px 0 0 0;
  }
  .btns {
    width: 150%;
    padding: 0;
    margin: 30px 0;
  }
}
